<head>
	<meta charset="utf-8">
	{% if page.title %}
	  <title>{{ page.title }}</title>
	{% else %}
	  <title>TB ideas</title>
	{% endif %}
	{% if page.description %}
    <meta name="description" content="{{ page.description }}">
	{% else %}
	  <meta name="description" content="Loochi is a small and powerful lamp that integrates perfectly in your home to improve your life, using a smartphone or tablet application to easily control the light color/animation and enabling extra smart features">
	{% endif %}
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="TB ideas">

	<!-- Le styles -->
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/assets/css/docs.css" rel="stylesheet">
	<link href="/assets/css/font-awesome.css" rel="stylesheet">
	<link href="/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
	<link href="/assets/nivo/nivo-slider.css" type="text/css" media="screen" rel="stylesheet">
	<link href="/assets/css/prettyPhoto.css" type="text/css" media="screen" rel="stylesheet">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="/assets/css/ie.css" />
	<![endif]-->

	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="/assets/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<script type="text/javascript">
	
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-31698323-1']);
	_gaq.push(['_setSiteSpeedSampleRate', 100]);
	
	{% if page.error404 %}
	
	var myloc = document.location.pathname;
	var myref = document.referrer;

	if (myloc.length == 0) {        
	        myloc = "nolocation";
	}
	if (myref.length == 0) {        
	        myref = "noreferrer";
	}

	_gaq.push(['_trackPageview', "/404/" + myloc.replace(/\//g, "_") + "/" + myref.replace(/https*:\/\//i, "").replace(/\//g, "_")]);
	{% else %}
	_gaq.push(['_trackPageview']);
	{% endif %}
	
	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol
							? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
	</script>
</head>
