---
layout: default
navtitle: Blog
navevent: menu_blog_click
navcolored: true
navweight: 9
---

<div class="row">
  <div class="span9">

    {% for post in site.posts %}
      <div class="row">
	      <div class="span2">
		      <h3 class="sep_bg">{{ post.date | date: "%B %d, %Y"}}</h3>
		      <div class="meta">
		        <span>
		          <strong><i class="icon-list-alt"></i> Category:</strong>
		          {{ post.category }}
		        </span>
		        <span>
		          <strong><i class="icon-user"></i> Author:</strong>
		          {{ post.author }}
		        </span>
		        <span>
		          <strong><i class="icon-comment"></i> Comments:</strong> 
  	          {% if post.permalink %}
              <a href="{{ site.production_url }}{{ post.permalink }}#disqus_thread"></a>
              {% else %}
              <a href="{{ site.production_url }}{{ post.url }}/#disqus_thread"></a>
              {% endif %}
		        </span>
		      </div>
	      </div>
	      <div class="span7" style="margin-bottom:20px">
		      <h3 class="sep_bg"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
	          {{ post.content | split:"<!-- more -->" | first }}
	          {% if post.content contains "<!-- more -->" %}
		        <a  href="{{ post.url }}" 
		            title="{{ post.title}}" class="btn btn-small btn-info">
		            Read More
		        </a>
	          {% endif %}
	      </div>
     	</div>
    {% endfor %}

  </div>
</div>

<script type="text/javascript">
var disqus_shortname = '{{ site.disqus_shortname }}'; 
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

